.wrapper {
    display: flex;
    flex-flow: row wrap;
    border: solid 1px rgb(90, 90, 253);
    background: rgb(226, 219, 219, 0.4);
    height: 950px;
    margin-top: 50px;
    justify-content: flex-start;
    padding-top: 10px;
}