/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/jenna-beekhuis-Bm0Ja6LZWl4-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
/* 
body {
  background-image: url(./images/jenna-beekhuis-Bm0Ja6LZWl4-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
} */

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}